/* RESET */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;

  /* VARIABLES */
  --background: #fff;
  --primary: #015989;
  --primary-light: #339ad1;
  --secondary: #246024;
  --font-color: #031e29;
  --error: #ab0d17;
  --font-family: Inter, system-ui, sans-serif;
  --box-shadow: 0px 0px 4px 0px #031e293a;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wiki-logo {
  width: clamp(10rem, 30vw, 25rem);
  display: block;
  margin: 5rem auto 0;
}

h1 {
  margin: 1rem 0;
  font-size: clamp(2.5rem, 5vw, 5rem);
  color: var(--font-color);
  text-align: center;
  font-weight: 500;
}
h1 span {
  font-weight: 800;
}
h2 {
  margin-bottom: 0;
}

form {
  width: 90%;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 1rem;
}
input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
input:focus {
  outline: 2px solid var(--primary);
}

.error-msg {
  text-align: center;
  color: var(--error);
}

.results-display {
  width: 70%;
  margin-bottom: 4rem;
}

.result-item {
  margin-bottom: 3rem;
}

.result-title {
  font-size: 2.2rem;
}
.result-title a {
  color: var(--primary-light);
  text-decoration: none;
}
.result-title a:visited,
.result-title a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.result-snippet {
  font-size: 1.5rem;
  color: var(--font-color);
  opacity: 0.9;
  max-height: 4.5rem;

  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-link {
  color: var(--secondary);
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/* LOADER */
.loader {
  display: none;
  justify-content: center;
}
.dot {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--font-color);
  margin: 0 0.3rem;
  animation: load 0.3s infinite ease-out alternate;
}
.dot:nth-child(2) {
  animation-delay: 0.1s;
}
.dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes load {
  to {
    transform: translateY(1rem);
  }
}

/* MEDIA QUERY */
@media screen and (max-width: 767px) {
  form {
    width: 80%;
  }
}
